.input {
  border: 1px solid #78787a;
}

.input:focus {
  border: 1px solid #1e1e1e;
}

.input:hover {
  border: 1px solid #a9a9a9;
}

.title {
  margin: 40px 0;
}
.form {
  max-width: 625px;
  display: grid;
  row-gap: 20px;
  font-size: 16px;
}
.date {
  width: 100%;
  border-radius: 30px;
  height: 50px;
  border: 1px solid #78787a;
  padding: 15px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 30px top 10px;
  line-height: 17px;
  font-family: Inter;
  outline: none;
}
.date::placeholder {
  color: var(--sub-text-color);
}

.input_number {
  border: 1px solid #78787a !important;
  color: var(--main-text-color);
}

.input_number:focus {
  border: 1px solid #1e1e1e !important;
}

@media screen and (min-width: 768px) {
  .textarea {
    grid-column: 1 / 3;
  }
  .form {
    min-width: 625px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    font-size: var(--mobile-maintext-font);
  }
}
