.content {
  padding: 0 var(--mobile-block-padding);
  padding-top: var(--header-mobile-height);
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 0 var(--desktop-block-padding);
    padding-top: var(--header-desktop-height);
  }
}
