.input {
  width: 100%;
  border-radius: 30px;
  height: 50px;
  border: 1px solid var(--span-text-color);
  padding: 15px;
  box-sizing: border-box;
  font-size: var(--mobile-maintext-font);
  line-height: 17px;
  outline: none;
}
.input::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
