.button {
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--button-text-color);
  font-size: var(--desktop-maintext-font);
  line-height: 19px;
  font-family: "Montserrat";
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.submit {
  height: 50px;
}
.submit:hover {
  opacity: 0.8;
}
.submit:disabled {
  opacity: 0.5;
  cursor: default;
}
