.button {
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--button-text-color);
  font-size: var(--desktop-maintext-font);
  line-height: 19px;
  font-family: "Montserrat";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #bed5a2;
}

.button:active {
  background-color: #67893d;
}

.transparent {
  background-color: transparent;
  color: var(--footer-bg-color);
  border: 1px solid var(--footer-bg-color);
}

.transparent:hover {
  color: var(--secondary-bg-color);
  border: 1px solid var(--secondary-bg-color);
}

.submit {
  height: 50px;
}
.submit:hover {
  background-color: #bed5a2;
}
.submit:disabled {
  background-color: #c0c7b7;
  cursor: default;
}

.footer {
  background: #fff;
  color: var(--secondary-bg-color);
}

.footer:hover {
  background-color: #eff9e3;
}
.submit:disabled {
  background-color: #f8fbf4;
  color: #c0c7b7;
  cursor: default;
}
