.menu {
  padding-top: 30px;
}
.sticky {
  height: 100%;
  background-color: transparent;
  position: sticky;
  top: 200px;
  z-index: 1;
}
.container {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 80px;
  max-width: var(--desktop-container-width);
}
.title {
  margin: 0;
}
