.container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  padding: 0;
  width: 22px;
  height: 22px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.button_left {
  background-image: url(../../images/minus.svg);
}
.button_right {
  background-image: url(../../images/plus.svg);
}

.input {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
  height: 100%;
  max-width: 34px;
  text-align: center;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .input {
    font-size: 16px;
    line-height: 13px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
