.items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 18px;
}
.link {
  background-color: var(--secondary-bg-color);
  font-size: var(--mobile-maintext-font);
  padding: 6px 18px;
  border-radius: 20px;
  cursor: pointer;
}
.active {
  background-color: var(--secondary-bg-color);
  color: var(--button-text-color);
}
@media screen and (min-width: 768px) {
  .items {
    gap: 8px;
    flex-direction: column;
    margin: 25px 0 0;
  }
  .link {
    color: var(--main-text-color);
    font-size: var(--desktop-maintext-font);
    padding: 0 10px;
    background-color: transparent;
  }
}
