.error {
  color: var(--error-color);
  font-size: var(--desktop-subtext-font);
  margin: 5px 12px 0;
  animation: appear 0.4s ease-in-out;
}
.input_error {
  border-color: var(--error-color);
}
.input_ok {
  border-color: var(--ok-color);
}
@keyframes appear {
  0% {
    transform: translateY(-7px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
