.container {
  width: 202px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex: none;
}
.title {
  margin: 0;
  font-weight: 600;
  color: #fff;
}
.items {
  margin: 21px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .items {
    margin: 35px 0 0 0;
  }
  .item {
    font-size: 20px;
    line-height: 24px;
  }
  .title {
    font-size: 20px;
    line-height: 24px;
    color: var(--main-text-color);
  }
  
}
