.header {
  position: sticky;
  top: 0;
  width: 100%;

  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--footer-bg-color);
  z-index: 2;
}
.container {
  max-width: 100%;
  height: 48px;
  padding: 7px var(--mobile-block-padding);
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.navigation__link {
  color: var(--span-text-color);
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}
.navigation__link:hover {
  opacity: 0.6;
}
.navigation__link:focus,
.navigation__link:active {
  animation: click 0.3s ease-out;
}

.menu__link {
  composes: navigation__link;
  display: none;
}

.cart__link {
  composes: navigation__link;
  width: 25px;
  height: 25px;
  background-image: url(../../images/cart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: opacity 0.25s ease-in-out;
}
.cart__link:hover {
  opacity: 0.6;
}
.badge {
  background-color: var(--footer-bg-color);
  color: var(--button-text-color);
  border-radius: 20px;
  width: 13px;
  height: 13px;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  position: absolute;
  right: -5px;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__image {
  width: 59px;
  height: 30px;
}
.hamburger__menu {
  width: 28px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../images/burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: var(--desktop-container-width);
    height: 85px;
    padding: 14px var(--desktop-block-padding);
  }
  .hamburger__menu {
    display: none;
  }
  .menu__link {
    display: block;
  }
  .cart__link {
    margin-left: 100px;
    width: 34px;
    height: 34px;
  }
  .badge {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  .logo__image {
    width: 110px;
    height: 57px;
  }
  .navigation__links {
    gap: 40px;
  }
  .navigation__link {
    font-size: var(--desktop-maintext-font);
  }
}

@keyframes click {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(1px);
    transform: scale(95%);
  }
  100% {
    transform: translateY(0px);
  }
}
