.footer {
  background-color: var(--footer-bg-color);
}

.container {
  box-sizing: border-box;
  max-width: var(--desktop-container-width);
  margin: 0 auto;
  padding: 55px 80px 70px;
  font-family: "Inter";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "contacts map form";
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: contacts;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

.link {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.link_instagram {
  background-image: url(../../images/instagram.svg);
}

.link_telegram {
  background-image: url(../../images/telegram.svg);
}

.link_whatsapp {
  background-image: url(../../images/whatsApp.svg);
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: var(--span-text-color);
}

.map {
  padding: 0 38px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: map;
}

.form {
  margin-left: auto;
  grid-area: form;
}

.fieldset {
  margin: 20px 0 0 0;
  padding: 0;
  border: 0;
  max-width: 298px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit {
  height: 50px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 36px 16px 44px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "form"
      "contacts"
      "map";
    justify-items: center;
    row-gap: 52px;
  }

  .text {
    font-size: 14px;
    line-height: 17px;
  }

  .map {
    padding: 0;
  }

  .form {
    margin-left: 0;
  }

  .fieldset {
    margin: 24px 0 0 0;
    max-width: 100%;
    gap: 12px;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 100%;
  }

  .contacts {
    justify-self: start;
  }

  .map {
    justify-self: start;
  }
}
