.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
}

.list {
  max-width: 1142px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin: 25px 0 38px;
}

.button {
  margin: 34px 0 32px;
  width: 100%;
  height: 46px;
  font-size: 14px;
  line-height: 114%;
}

.total {
  margin: 0 0 48px;
}

@media screen and (min-width: 768px) {
  .button {
    align-self: flex-end;
    margin: 40px 0 45px;
    height: 54px;
    width: 298px;
    font-size: 20px;
    line-height: 24px;
  }
}
