@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
  --main-bg-color: #f8fbf4;
  --secondary-bg-color: #9bbe70;
  --footer-bg-color: #67893d;
  --main-text-color: #1e1e1e;
  --span-text-color: #252525;
  --button-text-color: #fff;
  --sub-text-color: #a9a9a9;
  --ok-color: #29a71a;
  --error-color: #c9284c;
  --desktop-container-width: 1440px;
  --desktop-block-padding: 80px;
  --mobile-block-padding: 16px;
  --desktop-maintext-font: 16px;
  --mobile-maintext-font: 14px;
  --desktop-spantext-font: 20px;
  --desktop-subtext-font: 12px;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: Montserrat, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
